$minWidth: 320px;
$maxWidth: 1440px;
$maxWidthContainer: 1440px - 165px * 2;
$fontFamily: Hauora;

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 68px;
  background: linear-gradient(90deg, #101348, #0e1f3f, #0d2e2c 60%);
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: $maxWidthContainer;
    .__left {
      display: flex;
      gap: 37px;
      ._logo {
        cursor: pointer;
      }
      ._menu {
        display: flex;
        align-items: center;
        gap: 43px;
        color: rgba(255, 255, 255, 0.42);
        font-size: 14px;
        font-weight: 600;
        margin-left: 37px;
        & span {
            cursor: pointer;
        }
        ._bold {
          color: #fff;
          font-size: 14px;
          font-weight: 700;
        }
      }
    }
    .__right {
      display: inline-flex;
      align-items: flex-start;
      gap: 6px;
      & button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 7px 14px 7px 10px;
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.15);
        box-shadow: 0px 4px 9px 0px rgba(176, 176, 176, 0.1);
        backdrop-filter: blur(4px);
        color: var(--white-white, #fff);
        font-size: 14px;
        font-weight: 700;
        cursor: pointer;
      }
    }
  }
}
